<launch> 
  <include file="$(find freenect_launch)/launch/freenect.launch" />

  <arg name="camera_link_pose" default="0.222 0.052 0.9 -0.004 0.406 -0.002 0.914"/>
  <node name="statict_transform" pkg="tf" type="static_transform_publisher" args=" $(arg camera_link_pose) /world /camera_link 100"/> 

  <rosparam command="load" file="$(find visual_functionalities)/src/global_params.yml" ns="visual_functionalities_parameters"/>
  <param name="camera_file_path" value="$(find visual_functionalities)/misc/camera_param_baxter.xml" />

  <node name="visual_functionalities_node" pkg="visual_functionalities" type="run_visual_functionalities" output="screen"/> 
</launch>
